.container {
    display: flex;
    justify-content: space-around;
    align-items: space-around;
    gap: 20px;
    /* flex-direction: row; */
    /* flex-direction: column; */
    /* flex-direction: column-reverse; */
    /* flex-direction: row-reverse; */
    /* flex-wrap: wrap; */
    /* justify-content: flex-start; */
    /* justify-content: flex-end; */
    /* justify-content: space-between; */
    /* justify-content: space-around; */
    /* justify-content: space-evenly; */
    justify-content: center;
    flex-flow: row wrap;
    border: 1px solid red;
}

.box{
    border: 1px solid black;
    width: 100px;
    height: 100px;
}