*{
    margin: 0;
    padding: 0;
}
div{
    display:inline-block;
}
.static{
    height: 100px;
    width: 100px;
    background-color: red;
    border: 2px solid black;
}
.relative{
    height: 100px;
    width: 100px;
    background-color: green;
    border: 2px solid black;
}
.absolute{
    height: 100px;
    width: 100px;
    background-color: blue;
    border: 2px solid black;
}
.fixed{
    height: 100px;
    width: 100px;
    background-color: yellow ;
    border: 2px solid black;
}
.sticky{
    height: 100px;
    width: 100px;
    background-color: rgb(213, 85, 85);
    border: 2px solid black;
}